{
  "comments": false,
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["> 1% in US", "not ios_saf < 10", "not samsung < 5", "not ie > 1"]
      }
    }]
  ],

  "plugins": ["@babel/syntax-dynamic-import"]
}