<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chameleon Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook OpenGraph metadata -->
    <meta property="og:image" content="https://chameleon-services.com/media/logo-lg.png">
    <meta property="og:title" content="Chameleon Services">
    
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#103073">

    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
  </head>
  <body>
    <cs-shell></cs-shell>

    <noscript>
      <style>
        #nojs div {
          margin: 1em;
          background-color: #103073;
          color: white;
          padding: 1em;
        }  
      </style>

      <section id="nojs">
        <div>
          <h1>Please enable Javascript!</h1>
          <p>This site requires Javascript to work properly.</p>
          <p>If you enable Javascript, you'll get access to plenty of neat features like offline support
            and faster future loading times! No more waiting for things to download if you just need a phone number.</p>
        </div>

        <div>
          <p>If you DO just need a phone number or a mailing address, here you go:</p>

          <address>1235 Kimball Road, Venice, FL 34293</address>
          <address>(941) 893.9977</address>
        </div>
      </section>
    </noscript>

    <!--
      Feature detect Custom Elements support. If the browser DOES support Custom
      Elements then we need to load the custom-elements-es5-adapter because
      our project code has been transpiled from ES2015 to ES5 and native Custom
      Elements expect elements will be registered as classes.
    -->
    <div id="ce-es5-shim">
      <script type="text/javascript">
        if (!window.customElements) {
          var ceShimContainer = document.querySelector('#ce-es5-shim');
          ceShimContainer.parentElement.removeChild(ceShimContainer);
        }
      </script>
      <script type="text/javascript" src="/bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    </div>
    
    <!--
      Use the webcomponents-loader script which will feature detect which Web
      Components features are missing and lazy load the appropriate polyfills.
      When we hear the 'WebComponentsReady' event from the polyfill bundle we can
      insert our 'bundle.js'.
    -->
    <script>
      (function() {
        document.addEventListener('WebComponentsReady', function componentsReady() {
          document.removeEventListener('WebComponentsReady', componentsReady, false);
          var script = document.createElement('script');
          script.src = '<%= htmlWebpackPlugin.files.js[0] %>';
          var refScript = document.getElementsByTagName('script')[0];
          refScript.parentNode.insertBefore(script, refScript);
        }, false);
      })();
    </script>
    <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <!--
      IMPORTANT: Make sure you set the inject: false option in HTMLWebpackPlugin
      so it doesn't try to insert bundle.js. We're handling loading it ourselves
      up above.
    -->

  </body>
</html>