'use strict';

import handlebars from 'handlebars';
import nodemailer from 'nodemailer';
import moment from 'moment';
import * as mail from './mail';

let appointment = {
    timestamp: moment().startOf('day').set('hour', '17'),
    email: 'ted.senft@gmail.com',
    name: {
        first: "Ted"
    }
};

mail.sendEmailReminder(appointment);
// mail.sendEmailReminder(appointment);