<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="cs-schedule">
    <template>
        <style>
            :host {
                position: relative;
                overflow: hidden;
            }

            div#week-view, div#month-header {
                display: flex;
                box-sizing: border-box;
            }

            div#week-view {
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 0 1em;
            }

            div#month-header div {
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }

            div.weekday, div#month-header > div {
                --side-gutter: .1em;
                display: flex;
                flex-direction: column;
                width: calc((100% / 7) - var(--side-gutter) * 2);
                vertical-align: top;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: .15em var(--side-gutter);
                box-sizing: border-box;
            }

            div.weekday paper-button {
                width: 100%;
                background-color: aliceblue;
            }

            div.weekday[unavailable] paper-button {
                background-color: lightgray !important;
                color: gray !important;
            }

            div.weekday[current-month] paper-button {
                background-color: lightcyan;
                color: black;
            }

            div.weekday paper-button:hover {
                background-color: coral;
                color: black;
            }

            div#week-swapper {
                height: 10%;
                width: 100%;
                display: flex;
                padding: .4em .8em;
                box-sizing: border-box;
            }

            div#week-swapper div#week-spacer {
                flex-grow: 1;
            }

            div#week-swapper paper-button {
                background-color: var(--button-color, aqua);
                color: var(--button-text, black);
            }

            div#week-swapper paper-button[disabled] {
                background-color: var(--button-color-disabled, lightgray);
            }
        </style>

        <paper-dialog id="d">
            <h2>Available times for <b>X</b></h2>
            <div>
                <table border>
                    <tr>
                        <td>08:00</td>
                        <td>08:00</td>
                        <td>08:00</td>
                        <td>08:00</td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td>08:00</td>
                        <td>08:00</td>
                        <td>08:00</td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td>08:00</td>
                        <td>08:00</td>
                        <td>08:00</td>
                    </tr>
                </table>
            </div>

            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
            </div>
        </paper-dialog>

        <div id="month-wrapper">
            <!-- Schedule Blocks go here  -->
            <div id="month-header">
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>
            <div id="week-view">
                <dom-repeat items="[[weekDays]]" as="day">
                    <template>
                        <div class="weekday" current-month$="[[!day.outOfMonth]]" unavailable$="[[!day.available]]" on-tap="_tryShowPicker">
                            <paper-button data-day$="[[day.day]]" on-tap="_tryShowPicker">[[_formatDay(day.day)]]</paper-button>
                        </div>
                    </template>
                </dom-repeat>
            </div>

            <div id="week-swapper">
                <div id="week-last">
                    <paper-button raised disabled>Previous Week</paper-button>
                </div>

                <div id="week-next">
                    <paper-button raised>Next Week</paper-button>
                </div>
            </div>
        </div>
    </template>

    <script type="module">
        import moment from 'moment';

        class ChameleonSchedule extends Polymer.Element {
            static get is() { return 'cs-schedule' }

            static get properties() {
                return {
                    // Start of week is Monday
                    _startDay: 1,

                    // NOT USED: Will specify Sunday as off day
                    _unavailableDays: [ 0 ]
                }
            }

            ready() {
                super.ready();

                this.weekDays = [];

                this.currentWeek = moment().day(1).startOf('day');
                let now = moment();
                console.log(this.currentWeek.format("MM-DD"))
                let wd = [];
                for(var w = 0; w < 5; w++) {
                for(var i = 0; i < 7; i++) {
                    let day = this.currentWeek.clone();
                    day.add(i, 'days');
                    day.add(w, 'weeks');
                    wd.push({
                        day: day,
                        outOfMonth: day.month() != now.month(),

                        // TODO: Update to use this._unavailableDays
                        available: day.weekday() != 0 && now.dayOfYear() < day.dayOfYear()
                    })
                }
                }
                this.set('weekDays', wd);
            }

            _formatDay(day) {
                return moment.parseZone(day).format("DD");
            }

            _tryShowPicker(ev) {
                this.workingDay = ev.target.dataset.day;
                this.$.d.open();
                ev.preventDefault();
            }
        }

        customElements.define(ChameleonSchedule.is, ChameleonSchedule);
    </script>
</dom-module>