<dom-module id="chameleon-footer">
    <template>
        <style>
            :host {
                display: block;
            }
            
            footer {
                display: grid;
                position: relative;
                box-sizing: border-box;
                padding: 1em;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: calc((100% / 3) / 6);
                background-color: var(--chameleon-blue, navy);
                color: white;
                border-top: 3px solid white;
            }

            nav a, a.link {
                color: currentColor;
                text-decoration: none;
                border-bottom: 1px dotted currentColor;
            }
            
            footer > section {
                display: block;
                min-width: calc(100% / 3);
                box-sizing: border-box;
            }

            h5 {
                margin-top: 0;
                margin-bottom: 0.2em;
                padding-bottom: 0.15em;
                border-bottom: 1px solid gray;
            }

            nav { display: block; }

            #badge {
                grid-column: span 3;
                display: flex;
                justify-content: flex-end;
                padding: 1em;
            }

            #badge a { margin: 0 !important; }

            @media screen and (max-width: 600px) {
                footer {
                    display: block;
                }

                footer > section {
                    width: 100% !important;
                    padding: 1em;

                }
            }
        </style>

        <footer>
            <section>
                <h5>Helpful Links</h5>
                <nav>
                    <!-- <div><a href="/jobs">Employment Application</a></div> -->
                    <div><a href="/">Request an estimate (Free!)</a></div>
                </nav>
            </section>

            <section>
                <h5>Mailing Address:</h5>
                <address>
                    1235 Kimball Road
                    <br />
                    Venice, FL 34293
                </address>

                <div>
                    <span><iron-icon icon="cs:mail"></iron-icon></span>
                    <span><a class="link" href="mailto:info@chameleon-services.com">info@chameleon-services.com</a></span>
                </div>
            </section>

            <section>
                <h5>Other Links:</h5>
                <nav>
                    <template is="dom-if" if="[[loggedIn]]">
                        <div><a href="#" on-click="logout">Logout ([[displayName]])</a></div>
                    </template>

                    <template is="dom-if" if="[[admin]]">
                        <div><a href="/admin">Site Editor</a></div>
                    </template>

                    <template is="dom-if" if="[[!loggedIn]]">
                        <div><a href="#" on-click="sendLoginRequest">Login</a></div>
                    </template>
                </nav>
            </section>

            <!-- HomeAdvisor Badge -->
            <section id="badge">
                <a href="//www.homeadvisor.com/rated.KahunaLLC.51637650.html" style="display: block; margin: 0 auto;">
                    <img alt="HomeAdvisor Screened & Approved" style="display:block;" 
                    src="//www.homeadvisor.com/images/sp-badges/soap-solid-border.png?sp=51637650&key=1062e017391797b3da1200fa17d77a09" />
                </a>
            </section>
        </footer>
    </template>

    <script type="module">
        import firebase from '@firebase/app';
        import '@firebase/auth';
        import ChameleonState from '../scripts/chameleon-state.js';

        export class ChameleonFooter extends ChameleonState(Polymer.Element) {
            static get is() { return 'chameleon-footer' }

            static get actions() {
                return {
                    userLogout() {
                        return { type: 'USER_LOGGED_OUT' }
                    }
                }
            }

            static get properties() {
                return {
                    displayName: {
                        type: String,
                        statePath: 'user.displayName'
                    },

                    admin: {
                        type: Boolean,
                        statePath: 'user.isAdmin'
                    },

                    loggedIn: {
                        type: Boolean,
                        statePath: 'user.isLoggedIn'
                    }
                }
            }

            logout() {
                this.dispatch('userLogout');
            }

            sendLoginRequest() {
                let auth = firebase.auth();
                if(auth.currentUser) {
                    console.log(`You are already signed in as ${auth.currentUser.displayName}.`);
                    return;
                }

                let gp = new firebase.auth.GoogleAuthProvider();
                gp.addScope('profile');
                gp.addScope('email');
                firebase.auth().signInWithPopup(gp)
                    .then((result) => {
                        let token = result.credential.accessToken;
                        let user = result.user;
                    });
            }
        }

        customElements.define(ChameleonFooter.is, ChameleonFooter);
    </script>
</dom-module>