<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="chameleon-intro-message">
    <template>
        <style type="text/css">
            :host {
                display: flex;
                position: fixed;
                bottom: 1em;
                width: 100%;
                justify-content: center;
                z-index: 10000;
            }

            main {
                justify-self: center;
                margin: 0 1em;
                background-color: rgba(202, 30, 30, 0.8);
                border: 2px solid white;
                color: white;
                z-index: 9000;
            }

            main #message-actions {
                text-align: right;
                float: right;
                margin-left: 1em;
            }

            main div#message-content {
                font-size: 20pt;
                font-variant-caps: all-petite-caps;
                text-align: center;
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 1em;
            }
        </style>

        <main>
            <div id="message-actions">
                <paper-icon-button icon="chameleon:close" on-tap="dismiss"></paper-icon-button>
            </div>

            <div id="message-content">
                ...
            </div>
        </main>
    </template>

    <script type="module">
        import firebase from '@firebase/app';
        import '@firebase/firestore';
        import { isConfigStillEnabled } from '../scripts/config-utils';

        class ChameleonIntroMessage extends Polymer.Element {
            static get is() { return 'chameleon-intro-message' }

            static get properties() {
                return {
                    text: {
                        type: String,
                        value: "[[No message]]"
                    }
                }
            }

            ready() {
                super.ready();
                this.getWelcomeMessage();
            }

            // Dismiss intro message and set a value so it won't be shown again
            dismiss() {
                this.remove();
                localStorage.setItem('intro-' + this.unique, 'dismissed');
            }

            // Sets up the welcome message popup. 
            getWelcomeMessage() {
                let db = firebase.firestore();
                let message = db.collection("configuration").doc("intro-message");
                message.get()
                    .then((message) => { 
                        if(!message.exists) this.dismiss();
                        
                        let mdata = message.data();
                        if(!isConfigStillEnabled(mdata)) this.dismiss();

                        this.unique = mdata.unique;

                        // Do check to see if user already dismissed item
                        let ls = localStorage.getItem("intro-" + mdata.unique);
                        if(!ls || ls != 'dismissed') {
                            this.text = mdata.text;
                            this.shadowRoot.querySelector("#message-content").innerHTML = mdata.text;
                            this.removeAttribute("unresolved");
                        }
                    });
            }
        }

        customElements.define(ChameleonIntroMessage.is, ChameleonIntroMessage);
    </script>
</dom-module>