<dom-module id="chameleon-footer">
    <template>
        <style>
            :host {
                display: block;
            }
            
            footer {
                display: grid;
                box-sizing: border-box;
                padding: 1em;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: calc((100% / 3) / 6);
                background-color: var(--chameleon-blue, navy);
                color: white;
                border-top: 3px solid white;
            }

            footer a {
                color: currentColor;
                text-decoration: none;
                border-bottom: 1px dotted currentColor;
            }
            
            footer > section {
                display: block;
                min-width: calc(100% / 3);
                box-sizing: border-box;
            }

            h5 {
                margin-top: 0;
                margin-bottom: 0.2em;
                padding-bottom: 0.15em;
                border-bottom: 1px solid gray;
            }

            nav { display: block; }

            @media screen and (max-width: 600px) {
                footer {
                    display: block;
                }

                footer > section {
                    width: 100% !important;
                    padding: 1em;

                }
            }

            div#mail-addr {

            }
        </style>

        <footer>
            <section>
                <h5>Helpful Links</h5>
                <nav>
                    <div><a href="/jobs">Employment Application</a></div>
                    <div><a href="/">Request an estimate (Free!)</a></div>
                </nav>
            </section>

            <section>
                <h5>Mailing Address:</h5>
                <address>
                    1235 Kimball Road
                    <br />
                    Venice, FL 34293
                </address>

                <div>
                    <span><iron-icon icon="cs:mail"></iron-icon></span>
                    <span><a href="mailto:info@chameleon-services.com">info@chameleon-services.com</a></span>
                </div>
            </section>

            <section>
                <h5>Other Links:</h5>
                <nav>
                    <template is="dom-if" if="[[admin]]">
                        <div><a href="/editor">Site Editor</a></div>
                        <div><a href="#" on-tap="logout">Logout ([[displayName]])</a></div>
                    </template>

                    <template is="dom-if" if="[[!admin]]">
                        <div><a href="#" on-tap="sendLoginRequest">Login</a></div>
                    </template>
                </nav>
            </section>
        </footer>
    </template>

    <script type="module">
        import * as firebase from 'firebase';
        import ChameleonState from '../chameleon-state.js';

        export class ChameleonFooter extends ChameleonState(Polymer.Element) {
            static get is() { return 'chameleon-footer' }

            static get properties() {
                return {
                    displayName: {
                        type: String,
                        statePath: 'user.displayName'
                    },

                    admin: {
                        type: Boolean,
                        statePath: 'user.isAdmin'
                    }
                }
            }

            sendLoginRequest() {
                let auth = firebase.auth();
                if(auth.currentUser) {
                    console.log(`You are already signed in as ${auth.currentUser.displayName}.`);
                    return;
                }

                console.log("Not signed in, using Google..");
                let gp = new firebase.auth.GoogleAuthProvider();
                gp.addScope('profile');
                gp.addScope('email');
                firebase.auth().signInWithPopup(gp)
                    .then((result) => {
                        let token = result.credential.accessToken;
                        let user = result.user;
                    });
            }
        }

        customElements.define(ChameleonFooter.is, ChameleonFooter);
    </script>
</dom-module>