@import "_breakpoints";

.grid {
    display: grid;
    grid-gap: 1em;
}

.grid-header {
    grid-column: 0;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);

    .grid-header {
        grid-column: 1 / span 3;
    }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
    .grid-3 {
        grid-template-columns: repeat(2, 1fr);

        .grid-header {
            grid-column: 1 / span 2;
        }
    }
}

@media screen and (max-width: $mobile) {
    .grid-3 {
        grid-template-columns: 1fr;

        .grid-header {
            grid-column: 1;
        }
    }
}