body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;

    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-spacer {
    flex-grow: 1;
}