@import "_branding";

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;

    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-spacer {
    flex-grow: 1;
}

@import "_header";

h1, h2, h3, h4 {
    margin: 0;
    margin-bottom: .4em;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

section#content {
    box-sizing: border-box;
    flex-grow: 1;
    background: forestgreen url("/media/wood.jpg") repeat center center;
    background-size: cover;                                
    padding-top: 1em;
    padding-bottom: 1em;
}

main {
    border: 3px double black;
    background-color: rgba(white, 0.85);
    color: black;
    padding: 1em;
    text-align: left;
    margin: 1em 2em 0;
}

#overlay-topbar {
    display: flex;
}

address {
    display: inline-block;
}

@media screen and (max-width: $tablet) {
    section#content {
        background-image: url("/media/wood-downsized.jpg");
    }
}

// Global icons
// Display as a green, circular background and white text.
.icon {
    text-align: left;
    box-sizing: border-box;
    margin-right: 0.4em;
    background-color: $chameleon-green;
    color: white;
    border-radius: 100%;
    padding: .4em;
}

blockquote {
    margin: 0;
    text-align: justify;
    line-height: 1.4em;
    display: flex;
    height: fit-content;

    &::before   { 
        content: "\201C"; 
        margin-right: .4em;
    }

    &::after    { 
        content: "\201D";
        margin-left: .4em;
        align-self: flex-end;
    }

    &::before, &::after {
        color: #dedede;
        font-size: 3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    & > div {
        flex-grow: 1;

        div {
            &::before {
                content: "- ";
            }
    
            margin-top: .6em;
            text-align: right;
            font-style: italic;
            font-size: 0.9em;
        }
    }
}

@import "_navigation";
@import "_grids";
@import "_footer";